.row
    .col.s8
        .card.center
            .card-content
                | #{project.title}
            .card-action
                #description #{project.description}
    .col.s4
        ul.collection
            li.collection-item.center
                span.title Team
                br
                | #{team.name}
            each member in team.members
                li.collection-item.avatar
                    img.circle(src=`/profilePicture/${member.picture}`, alt='')
                    span.title #{member.fname} #{member.lname}
                    br
                    | #{member.username}
                    br
                    | #{member.email}
.row
    .col.s12
        ul.collection
            li.collection-item
                span.title Deadlines
            li.collection-item.avatar
                i.material-icons.circle people
                span.title Deadline
                br
                | We've got no deadlines as of yet, so this is here.
.row
    .col.s12
        ul.collection
            li.collection-item
                span.title Assigned tickets
            each ticket in ticketsList
                if user._id === ticket.assignee
                    li.collection-item.avatar
                        i.material-icons.circle people
                        span.title #{ticket.title}
                        br
                        | #{ticket.description}