.row
    if !isClosed
        .input-field.col.s12
            input#title.validate(type='text', name='title', value=title ? title : "",required, autofocus)
            label(for='title') #{__('projects.form.fields.title')}
    else
        p #{__('projects.form.fields.title')}: #{title ? title : ""}
.row
    #description(value = isClosed ? 1 : 0) #{description ? description : ""}
.row
    .col.s12.m4
        span.left #{`${__('projectPage.tabs.general.forceBoardType')}:`}
        br
        .switch.left
            label
                | #{__('switch.off')}
                input(type='checkbox', name='forceBoardType', checked=forceBoardType, disabled=isActive || isClosed)#canForceBoardType
                span.lever
                | #{__('switch.on')}
    .col.s12.m8
        .input-field#boardSelectionRow
            select(disabled=isActive || isClosed).icons#boardSelection
                option(value=1, selected=selectedBoardType!==2)
                    | #{__('projects.type.kanban')}
                option(value=2, selected=selectedBoardType===2)
                    | #{__('projects.type.scrum')}
            label
                | #{__('projects.type.label')}
.row
    .col.s12.m4
        span.left #{`${__('projects.form.deadline.forcelabel')}:`}
        br
        .switch.left
            label
                | #{__('switch.off')}
                input(type='checkbox', name='forceDeadline', checked=forceDeadline, disabled=isActive || isClosed)#canForceDeadline
                span.lever
                | #{__('switch.on')}
    .col.s12.m8
        .row#deadlineSelectionRow
            .input-field.col.s6
                input.datepicker(type='text', placeholder=__('projects.form.deadline.date'), value=deadlineDate)#datepicker
            .input-field.col.s6
                input.timepicker(type='text', placeholder=__('projects.form.deadline.time'), value=deadlineTime)#timepicker

#uploadModal.modal
    .modal-content
        i.modal-action.modal-close.material-icons#closeModal(onclick='cancelling=true;') close
        h3 #{__('uploadModal.title')}
            .row
                .col.s12
                    .row
                        .file-field.input-field
                            .btn.primaryColour-background-colour.primaryTextOnPrimary-colour
                                span
                                    | #{__('uploadModal.file')}
                                input(type='file')#file-input
                            .file-path-wrapper
                                input.file-path.validate(type='text', placeholder=__('uploadModal.selectFile'))
                    .row.right
                        .btn.waves-effect.waves-light.btn.col.primaryColour-background-colour.primaryTextOnPrimary-colour(onclick='uploadFile()')#uploadButton #{__('uploadModal.upload')}
                            i.material-icons.right cloud_upload

block scripts
    script(src='/js/projects/projects-add-content.js')
    script(src='/summernote/summernote.js')
