extends ../layout

block styles
    link(rel='stylesheet' href='/stylesheets/css/projects.css')
    link(rel='stylesheet' href='/summernote/summernote.css')

block title
    title #{__('projects.title')}

block content
    include ../navbar
    .container
        br
        .row
            .col.s12
                .card.center
                    .card-image
                        a.btn-floating.halfway-fab.waves-effect.waves-light.red.left(href='/projects')
                            i.material-icons arrow_back
                    .card-content
                        h5.card-title #{__('projects.form.title')}
                        h6 #{__('projects.form.description')}
                    .card-action
                        .row
                            form.col.s12#projectAddform
                                .row
                                    .input-field.col.s12
                                        input#title.validate(type='text', name='title', required, autofocus)
                                        label(for='title') #{__('projects.form.fields.title')}
                                .row
                                    #description
                                .row
                                    .input-field.col.s4
                                        label(for='type') #{__('projects.type.label')}:
                                    .input-field.col.s8
                                        select#type
                                            option(value='0') #{__('projects.type.kanban')}
                                            option(value='1') #{__('projects.type.scrum')}
                                .row
                                    .input-field.col.s4
                                        label(for='status') #{__('projects.status.label')}:
                                    .input-field.col.s8
                                        select#status
                                            option(value='2') #{__('projects.status.active')}
                                            option(value='1') #{__('projects.status.draft')}
                                            option(value='0') #{__('projects.status.closed')}
                                .row
                                    button.waves-effect.waves-light.btn.primaryColour-background-colour(type='submit') #{__('actions.submit')}
                                        i.material-icons.right send
block scripts
    script(src='/js/projects/projects-add.js')
    script(src='/summernote/summernote.js')