extends ../layout

block styles
    if !isUnKnownBoardType
        link(rel='stylesheet' href='/stylesheets/css/project-team.css')
        link(rel='stylesheet' href='/stylesheets/css/team-analytics.css')
    link(rel='stylesheet' href='/summernote/summernote.css')

block title
    title #{__('projects.title')}

block content
    include ../navbar
    br
    .container
        .row
            if !isUnKnownBoardType
                button.waves-effect.waves-light.right.btn.primaryColour-background-colour#createTicketButton #{__('tickets.label')}
                    i.material-icons.right add
        .row
            .col.s12
                .row
                    ul.tabs
                        li.tab.col.s2
                            a.noLineLink.active#option-board(href='#overview')
                                i.material-icons.tab-icon.hide-on-large-only.primaryColour-colour assignment
                                |
                                .hide-on-med-and-down.primaryColour-colour #{__('projects.tabs.overview.title')}
                        if !isUnKnownBoardType
                            li.tab.col.s2
                                a.noLineLink.active#option-board(href='#board')
                                    i.material-icons.tab-icon.hide-on-large-only.primaryColour-colour dashboard
                                    |
                                    .hide-on-med-and-down.primaryColour-colour #{__('projects.tabs.board.title')}
                            if isScrumBoardType
                                li.tab.col.s2
                                    a.noLineLink#option-backlog(href='#backlog')
                                        i.material-icons.tab-icon.hide-on-large-only.primaryColour-colour view_list
                                        |
                                        .hide-on-med-and-down.primaryColour-colour #{__('projects.tabs.backlog.title')}
                            li.tab.col.s2
                                a.noLineLink#option-issues(href='#issues')
                                    i.material-icons.tab-icon.hide-on-large-only.primaryColour-colour message
                                    |
                                    .hide-on-med-and-down.primaryColour-colour #{__('projects.tabs.issues.title')}
                            li.tab.col.s2
                                a.noLineLink.active#option-board(href='#analytics')
                                    i.material-icons.tab-icon.hide-on-large-only.primaryColour-colour timeline
                                    |
                                    .hide-on-med-and-down.primaryColour-colour #{__('projects.tabs.analytics.title')}
                            li.tab.col.s2
                                a.noLineLink.active#option-board(href='#management')
                                    i.material-icons.tab-icon.hide-on-large-only.primaryColour-colour settings
                                    |
                                    .hide-on-med-and-down.primaryColour-colour #{__('projects.tabs.management.title')}
    .row
        .col.s12
            .container
                #overview
                    include team-overview
            if !isUnKnownBoardType
                .big-screen-min-width#board
                    include team-board
                if isScrumBoardType
                    .container
                        #backlog
                            include team-backlog
                .container
                    #issues
                        include team-issues
                #analytics
                    include team-analytics
                .container
                    #management
                        include team-management

block scripts
    script(src='/js/projects/project-team.js')
    script(src='/js/projects/team-backlog.js')
    script(src='/js/projects/team-issues.js')
    script(src='/js/projects/team-board.js')
    script(src='/js/projects/team-analytics.js')
    script(src='/summernote/summernote.js')
    script(src='/chart.js/Chart.js')
