extends ../layout

block styles
    link(rel='stylesheet' href='/stylesheets/css/projects.css')

block title
    title #{__('projects.title')}

block content
    include ../navbar
    br
    .container
        .row
            button.btn.waves-effect.waves-light.cancelButtonBackground-background-colour.cancelButtonText-colour.left#backButton
                i.material-icons arrow_back
            button.waves-effect.waves-light.right.btn.primaryColour-background-colour#createTicketButton #{__('actions.create')}
                i.material-icons.right add
        ul.collection
            each ticket in ticketsList
                li.collection-item.avatar
                    i.material-icons.circle.red note
                    span.title #{ticket.title}
                    p
                        | First Line 
                        br
                        | Second Line
                    a.secondary-content.ticketLink(href=`/project/${projectId}/team/${teamId}/ticket/${ticket._id}`)
                        i.material-icons send
    
    .container
        .row
            .col.s12
                .row
                    ul.tabs
                        li.tab.col.s4
                            a.noLineLink.active#option-board(href='#board')
                                i.material-icons.tab-icon.hide-on-large-only.primaryColour-colour dashboard
                                |
                                .hide-on-med-and-down.primaryColour-colour #{__('projects.tabs.board.title')}
                        li.tab.col.s4
                            a.noLineLink#option-backlog(href='#backlog')
                                i.material-icons.tab-icon.hide-on-large-only.primaryColour-colour view_list
                                |
                                .hide-on-med-and-down.primaryColour-colour #{__('projects.tabs.backlog.title')}
                        li.tab.col.s4
                            a.noLineLink#option-issues(href='#issues')
                                i.material-icons.tab-icon.hide-on-large-only.primaryColour-colour note
                                |
                                .hide-on-med-and-down.primaryColour-colour #{__('projects.tabs.issues.title')}
    .container
        .row
            .col.s12
                #board
                    .card
                        h5 board test
                #backlog
                    .card
                        h5 backlog test
                #issues
                    .card
                        h5 issues test

block scripts
    script(src='/js/projects/project-team.js')