.row
    a.btn-floating.waves-effect.waves-light.primaryColour-background-colour.primaryTextOnPrimary-colour(onclick='toggleVisibility($("#ticketsFilter"))')
        i.material-icons search
.row.hidden#ticketsFilter
    form.col.s10.offset-s1
        .row
            .input-field.col.s12
                input#searchFilter.validate(type='text')
                label(for='searchFilter')  #{__('users.searchFilter')}
            .input-field.col.s12.m6
                select.icons#typeSelection
                    option(value=-1)
                        | #{__('filters.all')}
                    option(value=0, data-icon='/img/icon-ladybird.png')
                        | #{__('tickets.types.bug')}
                    option(value=1, data-icon='/img/icon-code-file.png')
                        | #{__('tickets.types.story')}
                    option(value=2, data-icon='/img/icon-purchase-order.png')
                        | #{__('tickets.types.milestone')}
                label
                    | #{__('tickets.type')}
            .input-field.col.s12.m6
                input.autocomplete(type='text', name='assigneeAutocomplete')#assigneeAutocomplete
                label(for='assigneeAutocomplete') #{__('tickets.assignee')}
.row
    .card
        ul.collapsible(data-collapsible='expandable')#sprintsList
        #sprintsLoad