.row
    .col.s12
        .row
            .col.s8
                h5#sprints #{__('projectPage.tabs.management.sprints')}
            .col.s4
                a.btn-floating.waves-effect.waves-light.primaryColour-background-colour.primaryTextOnPrimary-colour.right#sprintVisibility
                    i.material-icons add
        hr
        .row.sprintInputRow
            .col.s4
                .input-field
                    input.validate(type='text', name='tags')#sprintField
                    label(for='tags') #{__('projectPage.tabs.management.newSprint')}
            .col.s3
                .input-field
                    input.datepicker(type='text', name='startDate')#startDatePicker
                    label(for='startDate') #{__('projectPage.tabs.management.sprintStart')}
            .col.s3
                .input-field
                    input.datepicker(type='text', name='endDate')#endDatePicker
                    label(for='endDate') #{__('projectPage.tabs.management.sprintEnd')}
            .col.s2
                button.waves-effect.waves-light.btn.col.primaryColour-background-colour.primaryTextOnPrimary-colour.right#sprintCreation #{__('actions.create')}
                    i.material-icons.right add
        hr.sprintInputRow
        .row
            //if sprintList.length === 0
            //    h6.center #{__('projectPage.tabs.management.noSprints')}
            //else
            //    ul.collection
            //        each sprint in sprintList
            //            li.collection-item.avatar
            //                i.material-icons.circle compare_arrows
            //                button(onclick=`deleteSprint('${sprint._id}', '${sprint.name}')`).btn.btn-flat.waves-effect.waves-light.right
            //                    i.material-icons.right close
            //                span.title #{sprint.name}
            //                p
            //                    | #{sprint.startDate}
            //                    br
            //                    | #{sprint.endDate}
.row
    .col.s12
        .row
            .col.s8
                h5#releases #{__('projectPage.tabs.management.releases')}
            .col.s4
                a.btn-floating.waves-effect.waves-light.primaryColour-background-colour.primaryTextOnPrimary-colour.right#releaseVisibility
                    i.material-icons add
        hr
        .row.releaseInputRow
            .col.s8
                .input-field
                    input.validate(type='text', name='release')#releaseField
                    label(for='release') #{__('projectPage.tabs.management.newRelease')}
            .col.s4
                button.waves-effect.waves-light.btn.col.primaryColour-background-colour.primaryTextOnPrimary-colour.right#releaseCreation #{__('actions.create')}
                    i.material-icons.right add
        hr.releaseInputRow
        .row
            if releasesList.length === 0
                h6.center #{__('projectPage.tabs.management.noReleases')}
            else
                ul.collection
                    each release in releasesList
                        li.collection-item.avatar
                            i.material-icons.circle compare_arrows
                            button(onclick=`deleteRelease('${release._id}', '${release.name}')`).btn.btn-flat.waves-effect.waves-light.right
                                i.material-icons.right close
                            span.title #{release.name}
.row
    .col.s12
        .row
            .col.s8
                h5#tags #{__('projectPage.tabs.management.tags')}
            .col.s4
                a.btn-floating.waves-effect.waves-light.primaryColour-background-colour.primaryTextOnPrimary-colour.right#tagVisibility
                    i.material-icons add
        hr
        .row.tagInputRow
            .col.s8
                .input-field
                    input.validate(type='text', name='tags')#tagField
                    label(for='tags') #{__('projectPage.tabs.management.newTag')}
            .col.s4
                button.waves-effect.waves-light.btn.col.primaryColour-background-colour.primaryTextOnPrimary-colour.right#tagCreation #{__('actions.create')}
                    i.material-icons.right add
        hr.tagInputRow
        .row
            if tagsList.length === 0
                h6.center #{__('projectPage.tabs.management.noTags')}
            else
                ul.collection
                    each tag in tagsList
                        li.collection-item.avatar
                            i.material-icons.circle compare_arrows
                            button(onclick=`deleteTag('${tag._id}', '${tag.name}')`).btn.btn-flat.waves-effect.waves-light.right
                                i.material-icons.right close
                            span.title #{tag.name}