.row
    .col.s12
        #releases #{__('projectPage.tabs.management.releases')}
            hr
            .row
                if releasesList.length === 0
                    h6.center #{__('projectPage.tabs.management.noReleases')}
                else
                    ul.collection
                        each release in releasesList
                            li.collection-item.avatar
                                i.material-icons.circle compare_arrows
                                span.title #{release.name}
.row
    .col.s12
        #tags #{__('projectPage.tabs.management.tags')}
            hr
            .row
                if tagsList.length === 0
                    h6.center #{__('projectPage.tabs.management.noTags')}
                else
                    ul.collection
                        each tag in tagsList
                            li.collection-item.avatar
                                i.material-icons.circle compare_arrows
                                span.title #{tag.name}