extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/modeSelector.css')

block title
    title Select mode

block content
    .container
        .row
            .center-align
                h1
                    b
                        | #{__('modeSelector.title')}
                h4
                    | #{__('modeSelector.description')}
        br
        .row
            .col.s12.l6
                .card.blue-grey.darken-1
                    .card-content.white-text
                        .center-align
                            i.material-icons.md-80 people
                            h4.margin-top-0 #{__('modeSelector.collaboratorMode.title')}
                        p
                            | #{__('modeSelector.collaboratorMode.description')}
                        br
                        p
                            | #{__('modeSelector.collaboratorMode.features')}
                    .card-action.cardAction
                        .center-align
                            a.pointer(onClick='selectMode(0)') #{__('modeSelector.collaboratorMode.usage')}
            .col.s12.l6
                .card.blue-grey.darken-1
                    .card-content.white-text
                        .center-align
                            i.material-icons.md-80 school
                            h4.margin-top-0 #{__('modeSelector.classMode.title')}
                        p
                            | #{__('modeSelector.classMode.description')}
                        br
                        p
                            | #{__('modeSelector.classMode.features')}
                    .card-action.cardAction
                        .center-align
                            a.pointer(onClick='selectMode(1)') #{__('modeSelector.classMode.usage')}

block scripts
    script(src='/js/modeSelector.js')