li
    .collapsible-header
        i.material-icons person
        | #{__('settings.users.title')}
    .collapsible-body
        h5 #{__('settings.users.permissionsEdit')}
        span #{__('settings.users.fullName')}
        .switch
            label
                | #{__('switch.off')}
                input(type='checkbox', id='allowEditName', name='allowEditName', checked=studentEditNames)
                span.lever
                | #{__('switch.on')}
        br
        span #{__('settings.users.email')}
        .switch
            label
                | #{__('switch.off')}
                input(type='checkbox', id='allowEditEmail', name='allowEditEmail', checked=studentEditEmail)
                span.lever
                | #{__('switch.on')}
        br
        span #{__('settings.users.password')}
        .switch
            label
                | #{__('switch.off')}
                input(type='checkbox', id='allowEditPassword', name='allowEditPassword', checked=studentEditPassword)
                span.lever
                | #{__('switch.on')}
        br