extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/css/about.css')

block title
    title #{__('about.name')}

block content
    include navbar
    .container
        .row
            .col.s12
                .card
                    .card-title
                        h4#title #{__('about.intro.start')}
                    .card-action
                        p #{__('about.intro.sentence1')}
                .card
                    .card-title
                        h4#title #{__('about.who.start')}
                    .card-action
                        p #{__('about.who.sentence1')}
                        ol
                        li #{`Ahmed Qarmout: ${__('about.since.january2018')}`}
                        li #{`Ramy Esteero: ${__('about.since.january2018')}`}
                        li #{`Sergey Gayvoronskiy: ${__('about.since.january2018')}`}
                        p #{`${__('about.supervisor')}: Larry Yueli Zhang`}
                .card
                    .card-title 
                        h4#title General Information
                    .card-action
                        .row
                            hr
                            .col.l2.m3.s12
                                i.material-icons.large settings
                            .col.l10.m9.s12
                                h5 #{__('about.modes.start')}
                                p #{__('about.modes.sentence1')}
                                p #{__('about.modes.sentence2')}
                                p #{__('about.modes.sentence3')}
                        .row
                            hr
                            .col.l2.m3.s12
                                i.material-icons.large folder_open
                            .col.l10.m9.s12
                                h5 #{__('about.projects.start')}
                                p #{__('about.projects.sentence1')}
                                ol
                                li #{__('about.projects.point1')}
                                li #{__('about.projects.point2')}
                                li #{__('about.projects.point3')}
                                li #{__('about.projects.point4')}
                                li #{__('about.projects.point5')}
                        .row
                            hr
                            .col.l2.m3.s12
                                i.material-icons.large people
                            .col.l10.m9.s12
                                h5 #{__('about.teams.start')}
                                p #{__('about.teams.sentence1')}
                                p #{__('about.teams.sentence2')}
                                p #{__('about.teams.sentence3')}
                        .row
                            hr
                            .col.l2.m3.s12
                                i.material-icons.large grid_on
                            .col.l10.m9.s12
                                h5 #{__('about.boards.start')}
                                p #{__('about.boards.sentence1')}
                                p #{__('about.boards.sentence2')}
                                p #{__('about.boards.sentence3')}
                        .row
                            hr
                            .col.l2.m3.s12
                                i.material-icons.large list
                            .col.l10.m9.s12
                                h5 #{__('about.tickets.start')}
                                p #{`${__('about.tickets.sentence1')} ${__('about.tickets.sentence2')}`}
                        .row
                            hr
                            .col.l2.m3.s12
                                i.material-icons.large web
                            .col.l10.m9.s12
                                h5 #{__('about.management.start')}
                                p #{__('about.management.sentence1')}
                                ol
                                li #{__('about.management.point1')}
                                li #{__('about.management.point2')}
                                li #{__('about.management.point3')}
                        .row
                            hr
                            .col.l2.m3.s12
                                i.material-icons.large trending_up
                            .col.l10.m9.s12
                                h5 #{__('about.analytics.start')}
                                p #{__('about.analytics.sentence1')}
                                ol
                                li #{__('about.analytics.point1')}
                                li #{__('about.analytics.point2')}
                                li #{__('about.analytics.point3')}
                                li #{__('about.analytics.point4')}
                                li #{__('about.analytics.point5')}
                                li #{__('about.analytics.point6')}
            
        p.text-center #{__('about.license')}
        p.text-center #{__('about.copyright')} &copy; 2018