extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/css/profile.css')

block title
    title #{__('profile.title')}

block content
    include navbar
    br
    .container
        .row#viewForm
            .col.s12.m10.l8.xl6.offset-m1.offset-l2.offset-xl3
                .card
                    .card-content.padding-0
                        img.full-width(src=`/profilePicture/${user.picture}`)
                    .back.hide-on-med-and-up.small-back
                    .back.hide-on-small-only.hide-on-large-only.med-back
                    .back.hide-on-med-and-down.large-back
                    .some
                        h3 #{user.fname} #{user.lname}
                        h5 #{user.username}
                        h5 #{__(`userInformation.types.${userType}`)}
                        br
                        br
                        a.waves-effect.waves-light.btn.primaryColour-background-colour.primaryTextOnPrimary-colour(onclick='enableEdit()')
                            i.material-icons.left edit
                            | #{__('actions.edit')}
        .row.hidden#editMode
            .col.s12.m4.l3
                .card
                    .card-content.padding-0
                        img.full-width(src=`/profilePicture/${user.picture}`)
                .card
                    .card-action
                        .row
                            .input-field.s12
                                select#theme(name='theme')
                                    each theme in themes
                                        option(value=theme, selected=theme===user.theme) #{__(`userInformation.themes.${theme}`)}
                                label #{__('userInformation.theme')}
                        .row
                            .input-field.s12
                                select#language(name='language')
                                    each language in languages
                                        option(value=language.value, selected=language.value===user.language) #{__(`userInformation.languages.${language.text}`)}
                                label #{__('userInformation.language')}
                        .row
                            .switch
                                label(for='lname')
                                    | #{__('userInformation.notifications')}
                                br
                                label
                                    | #{__('switch.off')}
                                    input(id='notificationSwitch', type='checkbox', name='notificationEnabled' checked=user.notificationEnabled)
                                    span.lever
                                    | #{__('switch.on')}

            .col.s12.m8.l9
                .card.form-card
                    form#editForm
                        .row
                            .input-field.col.s6
                                input#fname(type='text', name='fname', value=user.fname, disabled=!canEditFirstAndLastName)
                                label(for='fname')
                                    | #{__('userInformation.firstName')}
                            .input-field.col.s6
                                input#lname(type='text', name='lname', value=user.lname, disabled=!canEditFirstAndLastName)
                                label(for='lname')
                                    | #{__('userInformation.firstName')}
                        .row
                            .input-field.col.s12
                                input#passwd.validate(type='password', name='newPassword', disabled=!canEditPassword)
                                label(for='passwd')
                                    | #{__('userInformation.newPassword')}
                        .row
                            .input-field.col.s12
                                input#confirmpasswd.validate(type='password', name='confirmPassword', disabled=!canEditPassword)
                                label(for='confirmpasswd')
                                    | #{__('userInformation.confirmPassword')}
                        .row
                            .input-field.col.s12
                                input#email.validate(type='email', name='email', value=user.email, disabled=!canEditEmail)
                                label(for='email')
                                    | #{__('userInformation.email')}
                        .row
                            .file-field.input-field
                                .btn.primaryColour-background-colour.primaryTextOnPrimary-colour
                                    span
                                        | #{__('userInformation.picture')}
                                        i.material-icons.right insert_photo
                                    input(type='file', accept='.jpg, .jpeg, .png')#profile-picture-input
                                .file-path-wrapper
                                    input.file-path.validate(type='text', placeholder=__('profile.selectPicture'))
                        .row
                            hr
                        .row
                            .input-field.col.s12
                                input#currentpasswd.validate(type='password', name='currentPassword' required)
                                label(for='currentpasswd')
                                    | #{__('userInformation.currentPassword')}
                        .row.center
                            button.waves-effect.waves-light.btn.cancelButtonBackground-background-colour.cancelButtonText-colour(type='button', onClick='disableEdit()')
                                | #{__('actions.cancel')}
                                i.material-icons.right clear
                            span.padding-right-10
                            .hide-on-med-and-up
                                br
                            button.waves-effect.waves-light.btn.primaryColour-background-colour.primaryTextOnPrimary-colour(type='submit')
                                | #{__('actions.save')}
                                i.material-icons.right save

block scripts
  script(src='/js/profile.js')
