br
.row
    .col.s12
        .card.center
            .card-image
                a.btn-floating.halfway-fab.waves-effect.waves-light.cancelButtonBackground-colour.cancelButtonText-colour.left(href='/users')
                    i.material-icons arrow_back
            .card-content
                h5.card-title #{__('tickets.create')}
            .card-action
                .row
                    form.col.s12#userCreateTicket
                        .col.s8
                            .row
                                .input-field.padding-10
                                    input.validate(type='text', name='name', required autofocus)
                                    label(for='name') #{__('tickets.ticketName')}
                            .row
                                .input-field.padding-10
                                    input.validate(type='text', name='description')
                                    label(for='description') #{__('tickets.ticketDescription')}
                            .row
                                .input-field.padding-10
                                    select
                                        option(value='' disabled selected)
                                            | #{__('tickets.relatedTickets')}
                            .row
                                .input-field.padding-10
                                    select
                                        option(value='' disabled selected)
                                            | #{__('tickets.sprints')}
                        .col.s4
                            .row
                                .input-field.padding-10
                                    select
                                        option(value='' disabled selected)
                                            | #{__('tickets.reporter')}
                            .row
                                .input-field.padding-10
                                    select
                                        option(value='' disabled selected)
                                            | #{__('tickets.assigned')}
                            .row
                                .input-field.padding-10
                                    select
                                        option(value='' disabled selected)
                                            | #{__('tickets.tags')}
                            .row
                                .input-field.padding-10
                                    select
                                        option(value='' disabled selected)
                                            | #{__('tickets.points')}
                            .row
                                .input-field.padding-10
                                    select
                                        option(value='' disabled selected)
                                            | #{__('tickets.release')}
                            .row
                                .input-field.padding-10
                                    select
                                        option(value='' disabled selected)
                                            | #{__('tickets.priority')}
