extends ../layout

block styles
    link(rel='stylesheet' href='/stylesheets/css/users.css')

block title
    title users

block content
    include ../navbar
    br
    .container
        .row
            form.col.s10.offset-s1
                .row
                    .input-field.col.s12.xl8
                        input#last_name.validate(type='text')
                        label(for='last_name') Last Name
                    .input-field.col.s12.m6.xl2
                        select
                            option(value='', disabled='', selected='') Choose your option
                            option(value='1') Option 1
                            option(value='2') Option 2
                            option(value='3') Option 3
                        label Materialize Select
                    .input-field.col.s12.m6.xl2
                        select
                            option(value='', disabled='', selected='') Choose your option
                            option(value='1') Option 1
                            option(value='2') Option 2
                            option(value='3') Option 3
                        label Materialize Select
        .row
            .col.s12
                a.waves-effect.waves-light.btn.right(href='/users/add') Create
                    i.material-icons.right send
        .row
            .col.s12
                ul.collection.scroll-auto.margin-0
                    each user in usersList
                        li.collection-item.avatar
                            i.material-icons.circle folder
                            span.title #{user.fname} #{user.lname} - #{user.username}
                            p
                                | #{__(`userInformation.types.${user.type}`)}
                                br
                                | #{user.email}
                            .secondary-content
                                a(href='#!')
                                    i.material-icons send
                                br
                                a(href=`users/edit/${user.username}`)
                                    i.material-icons mode_edit

block scripts
    script(src='/js/users/users.js')