extends ../layout

block styles
    link(rel='stylesheet' href='/stylesheets/css/profile.css')

block title
    title users

block content
    include ../navbar
    br
    .container
        .row
            form.col.s12
                .row
                    .input-field.col.s8
                        input#last_name.validate(type='text')
                        label(for='last_name') Last Name
                    .input-field.col.s2
                        select
                            option(value='', disabled='', selected='') Choose your option
                            option(value='1') Option 1
                            option(value='2') Option 2
                            option(value='3') Option 3
                        label Materialize Select
                    .input-field.col.s2
                        select
                            option(value='', disabled='', selected='') Choose your option
                            option(value='1') Option 1
                            option(value='2') Option 2
                            option(value='3') Option 3
                        label Materialize Select
                .row
                    .col.s4
                        ul.collection
                            li.collection-item.avatar
                                img.circle(src='images/yuna.jpg', alt='')
                                span.title Title
                                p
                                    | First Line 
                                    br
                                    |          Second Line
                                a.secondary-content(href='#!')
                                    i.material-icons grade
                            li.collection-item.avatar
                                i.material-icons.circle folder
                                span.title Title
                                p
                                    | First Line 
                                    br
                                    |          Second Line
                                a.secondary-content(href='#!')
                                i.material-icons grade
                            li.collection-item.avatar
                                i.material-icons.circle.green insert_chart
                                span.title Title
                                p
                                    | First Line 
                                    br
                                    |          Second Line
                                a.secondary-content(href='#!')
                                    i.material-icons grade
                            li.collection-item.avatar
                                i.material-icons.circle.red play_arrow
                                span.title Title
                                p
                                    | First Line 
                                    br
                                    |          Second Line
                                a.secondary-content(href='#!')
                                    i.material-icons grade
                            li.collection-item.avatar
                                img.circle(src='images/yuna.jpg', alt='')
                                span.title Title
                                p
                                    | First Line 
                                    br
                                    |          Second Line
                                a.secondary-content(href='#!')
                                    i.material-icons grade
                            li.collection-item.avatar
                                i.material-icons.circle folder
                                span.title Title
                                p
                                    | First Line 
                                    br
                                    |          Second Line
                                a.secondary-content(href='#!')
                                    i.material-icons grade
                            li.collection-item.avatar
                                i.material-icons.circle.green insert_chart
                                span.title Title
                                p
                                    | First Line 
                                    br
                                    |          Second Line
                                a.secondary-content(href='#!')
                                    i.material-icons grade
                            li.collection-item.avatar
                                i.material-icons.circle.red play_arrow
                                span.title Title
                                p
                                    | First Line 
                                    br
                                    |          Second Line
                                a.secondary-content(href='#!')
                                    i.material-icons grade
                    .col.s8
                        .card-panel
                            span
                                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                | I am a very simple card. I am good at containing small bits of information.
                                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                | I am a very simple card. I am good at containing small bits of information.
                                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                | I am a very simple card. I am good at containing small bits of information.
                                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                | I am a very simple card. I am good at containing small bits of information.
                                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                | I am a very simple card. I am good at containing small bits of information.
                                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                | I am a very simple card. I am good at containing small bits of information.
                                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                | I am a very simple card. I am good at containing small bits of information.
                                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                | I am a very simple card. I am good at containing small bits of information.
                                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                | I am a very simple card. I am good at containing small bits of information.
                                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                | I am a very simple card. I am good at containing small bits of information.
                                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                | I am a very simple card. I am good at containing small bits of information.
                                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                | I am a very simple card. I am good at containing small bits of information.
                                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                | I am a very simple card. I am good at containing small bits of information.
                                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                | I am a very simple card. I am good at containing small bits of information.
                                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                | I am a very simple card. I am good at containing small bits of information.
                                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                | I am a very simple card. I am good at containing small bits of information.
                                | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                | I am a very simple card. I am good at containing small bits of information.


    .container
        br
        a.waves-effect.waves-light.btn(href='/users/add') Create
            i.material-icons.right send
        .row
            table
                thead
                    tr
                        th Username
                        th First Name
                        th last Name
                tbody
                    each user in collaboratorAdminsList
                        tr
                            td #{user.username}
                            td #{user.fname}
                            td #{user.lname}
        .row
            table
                thead
                    tr
                        th Username
                        th First Name
                        th last Name
                tbody
                    each user in collaboratorsList
                        tr
                            td #{user.username}
                            td #{user.fname}
                            td #{user.lname}
        .row
            table
                thead
                    tr
                        th Username
                        th First Name
                        th last Name
                tbody
                    each user in professorsList
                        tr
                            td #{user.username}
                            td #{user.fname}
                            td #{user.lname}
        .row
            table
                thead
                    tr
                        th Username
                        th First Name
                        th last Name
                tbody
                    each user in TAsList
                        tr
                            td #{user.username}
                            td #{user.fname}
                            td #{user.lname}
        .row
            table
                thead
                    tr
                        th Username
                        th First Name
                        th last Name
                tbody
                    each user in studentsList
                        tr
                            td #{user.username}
                            td #{user.fname}
                            td #{user.lname}
        .row
            table
                thead
                    tr
                        th Username
                        th First Name
                        th last Name
                tbody
                    each user in pendingUsersList
                        tr
                            td #{user.username}
                            td #{user.fname}
                            td #{user.lname}
        .row
            table
                thead
                    tr
                        th Username
                        th First Name
                        th last Name
                tbody
                    each user in disabledUsersList
                        tr
                            td #{user.username}
                            td #{user.fname}
                            td #{user.lname}

block scripts
    script(src='/js/users/users.js')