extends ../layout

block styles
    link(rel='stylesheet' href='/stylesheets/css/users.css')

block title
    title #{__('users.title')}

block content
    include ../navbar
    br
    .container
        .row
            a.btn-floating.waves-effect.waves-light.primaryColour-background-colour.primaryTextOnPrimary-colour(onclick='toggleVisibility($("#usersFilter"))')
                i.material-icons search
        .row.hidden#usersFilter
            form.col.s10.offset-s1
                .row
                    .input-field.col.s12.xl8
                        input#searchFilter.validate(type='text')
                        label(for='searchFilter')  #{__('users.searchFilter')}
                    .input-field.col.s12.m6.xl2
                        select#typeFilter
                            if isClassMode
                                option(value='-1') #{__('users.all')}
                                option(value='5') #{__('userInformation.types.student')}
                                option(value='4') #{__('userInformation.types.ta')}
                                option(value='3') #{__('userInformation.types.professor')}
                            if isCollabMode
                                option(value='-1') #{__('users.all')}
                                option(value='1') #{__('userInformation.types.collaboratorAdmin')}
                                option(value='2') #{__('userInformation.types.collaborator')}
                        label #{__('users.userType')}
                    .input-field.col.s12.m6.xl2
                        select#statusFilter
                            option(value='-1') #{__('users.all')}
                            option(value='2') #{__('userInformation.status.active')}
                            option(value='1') #{__('userInformation.status.pending')}
                            option(value='0') #{__('userInformation.status.disabled')}
                        label #{__('users.userStatus')}
        .row
            .col.s6
                a.waves-effect.waves-light.btn.left.primaryColour-background-colour(href='/users/import') #{__('actions.import')}
                    i.material-icons.right cloud_upload
            .col.s6
                a.waves-effect.waves-light.btn.right.primaryColour-background-colour(href='/users/add') #{__('actions.create')}
                    i.material-icons.right person_add
        .row
            .col.s12
                #usersLoad
                ul.collection.scroll-auto.margin-0#usersList

block scripts
    script(src='/js/users/users.js')
