extends ../layout

block styles
    link(rel='stylesheet' href='/stylesheets/css/profile.css')

block title
    title users

block content
    include ../navbar
    .container
        br
        .row
            .col.s12
                .card.center
                    .card-image
                        a.btn-floating.halfway-fab.waves-effect.waves-light.red.left#account-creation-back-button
                            i.material-icons arrow_back
                    .card-content
                        h5.card-title Account Edit Form
                        h6 Edit a user's account information
                    .card-action
                        .row
                            form.col.s12#userAddform
                                .row
                                    .input-field.col.s6
                                        input#fname.validate(type='text', name='fname', value=editUser.fname, required autofocus)
                                        label(for='fname') First Name
                                    .input-field.col.s6
                                        input#lname.validate(type='text', name='lname', value=editUser.lname, required)
                                        label(for='lname') Last Name
                                .row
                                    .input-field.col.s12
                                        input#username.validate(type='text', name='username', value=editUser.username, required)
                                        label(for='username') Username
                                .row
                                    .input-field.col.s12
                                        input#passwword.validate(type='password', name='password', required)
                                        label(for='passwword') Password
                                .row
                                    .input-field.col.s12
                                        input#email.validate(type='email', name='email', value=editUser.email, required)
                                        label(for='email') Email
                                .row
                                    .input-field.col.s4
                                        label(for='userType') User type:
                                    .input-field.col.s8
                                        select#userType
                                            each userType in userTypesList
                                                option(value=userType.value, selected=editUser.type===userType.value) #{userType.text}
                                .row
                                    button.waves-effect.waves-light.btn(type='submit') Submit
                                        i.material-icons.right send
block scripts
    script(src='/js/users/users-edit.js')